table{
	width: 750px;
	table-layout: fixed;
	margin-left: auto;
	margin-right: auto;
}

table, td, th {
	border-collapse: collapse;
	border: 1px #000000 solid;
}
.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #ffffff;
  padding: 30px;
  max-width: 500px;
  max-height: 500px;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.detail_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail_close {
  background: transparent;
  border: 0;
}

.detail_header .detail_close:before { content: "\2715"; }

@keyframes mmfadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes mmfadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
  to { transform: translateY(0); }
}

@keyframes mmslideOut {
  from { transform: translateY(0); }
  to { transform: translateY(15%); }
}


.modal[aria-hidden="false"] .overlay {
  animation: mmfadeIn .3s ease;
}

.modal[aria-hidden="true"] .overlay {
  animation: mmfadeOut .3s ease;
}

.modal[aria-hidden="false"] .container {
  animation: mmslideIn .3s ease;
}

.modal[aria-hidden="true"] .container {
  animation: mmslideOut .3s ease;
}

.modal .container,
.modal .overlay {
  will-change: transform;
}

.second-modal {
  display: none;
}

.second-modal.is-open {
  display: block;
}

.second-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-container {
  background-color: #ffffff;
  padding: 30px;
  max-width: 500px;
  max-height: 500px;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.second-detail_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.second-detail_close {
  background: transparent;
  border: 0;
}

.second-detail_header .second-detail_close:before { content: "\2715"; }


.second-modal .second-container,
.second-modal .second-overlay {
  will-change: transform;
}
