<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ログイン</title>
</head>

<body>
  <h1>ログイン</h1>
  <form action="operation-history.html" method="post">
    <div class="email-form">
      <label for="name">メールアドレス: </label>
      <input type="email" name="email" id="email">
    </div>
    <div class="password-form">
      <label for="password">パスワード: </label>
      <input type="password" name="password" id="password">
    </div>
    <div class="login-button">
      <input type="submit" value="ログイン">
    </div>

  </form>
</body>

</html>