<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>稼働履歴</title>
</head>
<h1>稼働履歴</h1>
<table>
  <tbody>
    <tr>
      <th>
        <a href="operation-input-form.html">11/1(月)</a>
      </th>
      <th>
        <a href="operation-input-form.html">11/2(火)</a>
      </th>
      <th>
        <a href="operation-input-form.html">11/3(水)</a>
      </th>
      <th>
        <a href="operation-input-form.html">11/4(木)</a>
      </th>
      <th>
        <a href="operation-input-form.html">11/5(金)</a>
      </th>
      <th>
        <a href="operation-input-form.html">11/6(土)</a>
      </th>
      <th>
        <a href="operation-input-form.html">11/6(日)</a>
      </th>
      <th>週間合計</th>
    </tr>
    <!-- TODO:ツールチップを作りたい -->
    <!-- TODO:ツールチップで各タスク別の時間が表示される -->
    <tr>
      <td>7.5</td>
      <td>7.5</td>
      <td>7.5</td>
      <td>8.5</td>
      <td>7.5</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
  </tbody>
</table>

<body>

</body>

</html>